:root {
  --accent-color: #2196f3;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --backgroung-color-dark-theme: #2f303a;
  --background-light-theme: #f5f4fa;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --logo-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color-theme-light);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  letter-spacing: 0.03em;
}

/* Header section */
.header-page {
  color: var(--primary-text-color-theme-light);
  background-color: var(--primary-text-color-theme-dark);
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #ececec;
}

.header-container,
.navigation,
.navigation-list {
  display: flex;
  align-items: center;
}

.header-list:hover,
.header-list:focus {
  color: var(--accent-color);
}

.header-list {
  color: var(--secondary-text-color-theme-light);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-logo {
  color: var(--logo-color);
}
.logo {
  margin-right: 93px;
}

.header-list:hover,
.header-list:focus,
.link-number-phone-footer:hover,
.mail-link-footer:hover,
.link-number-phone-footer:focus,
.mail-link-footer:focus {
  color: var(--accent-color);
}

/* Navigation */
.nav-list:hover,
.nav-list:focus {
  color: var(--accent-color);
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list-button {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--background-light-theme);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  text-align: center;
  padding: 6px 22px;
}

.header-contact {
  margin-left: auto;
  margin-right: 50px;
}

.nav-list-button:hover,
.nav-list-button:focus {
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-list.link.current {
  color: var(--accent-color);
}

/* PORTFOLIO */
.navigation-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}





.product-section-list {
  display: flex;
}
.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 50px; */
}

.nav-list-button {
  margin-right: 8px;
  /* margin-top: 65px; */
}

.product-section-style {
  background-color: var(--primary-text-color-theme-dark);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 20px 24px;
  border-top: none;
}

.hero-section {
  background-color: var(--backgroung-color-dark-theme);
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  line-height: 60px;
  color: var(--primary-text-color-theme-dark);
  cursor: pointer;
}

.main-btn {
  font-weight: 700;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0px;
  min-width: 200px;
  padding: 10px 32px;
}

/* Excellence */
.excellence-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}
.text-pharagrapher {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}
.excellence-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
}
.excellent-list-item {
  width: 270px;
  height: 101px;
}

/* Gallery */
.gallery-title,
.team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
}
.gallery-list-item {
  flex-basis: calc((100% - 90px) / 3);
}

/* Team */
.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-section-list {
  display: flex;
}

.section-item-style {
  background-color: var(--primary-text-color-theme-dark);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  padding-bottom: 30px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.product-section {
  padding-top: 0px;
  padding-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  margin-top: 0;
}

.list-section {
  padding-top: 0px;
}

.elements-team-section {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.elements-section {
  margin-left: 30px;
}

.elements-section:nth-last-child(n+3) {
  margin-bottom: 30px;
}



.team-section {
  background: var(--background-light-theme);
  margin-left: -30px;
  margin-bottom: -30px;
  padding-top: 94px;
  padding-bottom: 90px;
}


.gallery-section {
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 50px;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
}

.text-pharagrapher-picture {
  font-size: 16px;
  line-height: 1.11;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
  text-align: center;
}


.text-pharagrapher-picture-second {
  font-size: 16px;
  line-height: 1.11;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
  
}

/* Footer section */
.footer-page {
  display: flex;
  background-color: var(--backgroung-color-dark-theme);
  height: 252px;
  padding-top: 64px;
  padding-bottom: 56px;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link,
.footer-logo {
  color: var(--primary-text-color-theme-dark);
}

.mail-link-footer,
.link-number-phone-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-link-footer {
  font-style: normal;
}

.address-footer-section {
  margin-top: 20px;
  margin-bottom: 9px;
}
.link-phone {
  margin-top: 9px;
}
